body {
  background: #3199f5;
}

/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: #FFFF7A;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: #CC6699;
  }

}
